$black_color:#222222;
$gray_color:#B0B0B0;
$wid_100:100%;
$weight_700:700;
$max_wid:1100px;
$white_color:#fff;
$green_color:#00853e;
$gray_rgb:rgb(136, 136, 136);
$darkgray_rgb:rgb(66, 66, 66);
$color_62:#626262;
$ground_gray_color:rgb(245, 245, 245);
$dark_green_color:rgb(0, 133, 62);
$dark_color:#222;
$dark_gray_color:#333;